.background-container {
  background-image: url('../../../public/Images/landingback.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  background-color: #f5f5f5;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 50px; 
  max-width: 90%; 

}


h1 {
  font-size: 24px;
  margin-bottom: 10px;
  font-weight: bold;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  margin-bottom: 10px;
}

img {
  max-width: 100%;
  height: auto;
  margin-top: 10px;
  border: 2px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.diet-list {
  margin-left: 20px;
}

.diet-item {
  margin: 5px;
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f5f5f5;
}

.transparent-container {
  background-color: rgba(255, 255, 255, 0.8); 
}

.highlight {
  font-weight: bold;
}

